# Ignore all build directories in the repository
**/build/
**/sdkconfig
**/sdkconfig.ci
**/sdkconfig.old

# Ignore specific components in all projects
#**/components/arduino-esp32/
**/managed_components/

# Ignore any temporary files
.vscode


